[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
celery = "*"
alembic = "*"
sqlalchemy = "*"
config-loader = "*"
uamqp = "*"
numpy = "*"
maturin = "*"
lxml = "*"
uvicorn = {version = "*", extras = ["standard"]}
configloader = "*"
psycopg2-binary = "*"
asyncpg = "*"
httpx = "*"
pandas = "*"
openpyxl = "*"
"ruamel.yaml" = "*"
coverage = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
yamlloader = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"

[pipenv]
allow_prereleases = true
